@{
    ViewData["Title"] = "Lab Dashboard";
    var empName = Context.Session.GetString("EmpName");
}

<div class="container mt-5">
    <h2 class="mb-4">Welcome, @empName</h2>
    <div class="list-group">
        <a href="/Lab/AssignedLabTests" class="list-group-item list-group-item-action">Assigned Tests</a>
        <a href="/Lab/RecordTestResults" class="list-group-item list-group-item-action">Test Record</a>
        <a href="/Lab/PatientHistory" class="list-group-item list-group-item-action">View Patient History</a>
        <a href="/Login/Logout" class="list-group-item list-group-item-action text-danger">Logout</a>
    </div>
</div>
